@font-face {
    font-family: 'port_lligat_sansregular';
    src: url('../font/portlligatsans-regular-webfont.woff2') format('woff2'),
         url('../font/portlligatsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}